@tailwind base;
@tailwind components;
@tailwind utilities;

/* HTML: <div class="loader"></div> */
.loader {
display: inline-flex;
gap: 10px;
}
.loader:before,
.loader:after {
content: "";
height: 60px;
aspect-ratio: 1;
border-radius: 50%;
background:
    radial-gradient(farthest-side,#000 95%,#0000) 35% 35%/6px 6px no-repeat
    #fff;
animation: l5 3s infinite;
}
@keyframes l5 {
0%,11%   {background-position:35% 35%}
14%,36%  {background-position:65% 35%}
38%,61%  {background-position:65% 65%}
64%,86%  {background-position:35% 65%}
88%,100% {background-position:35% 35%}
}
.leaflet-geosearch-button form {
    max-width: 300px!important;
    padding: 0!important;
}
.leaflet-control-geosearch .results {
    color: #000!important;
}
.reactions-container > div {
    box-shadow: none!important;
}
.pass-right::before, .pass-right::after {
    content: "";
    position: absolute;
    display: block;
    width: .9em;
    height: .9em;
    background: #fff;
    border-radius: 50%;
    left: -.5em;
}
.pass-right::before {
    top: -.4em;
}
.pass-right::after {
    bottom: -.4em;
}
.embla {
    max-width: 300px;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }